/* Dropdown component module css here */
.dropdownContainer {
    height: 350px;
    width: 800px;
    padding: 2rem;
    background-color: skyblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center; 
}

/* Heading of the dropdown here */
.heading {
    text-align: center;
}

/* This is the wrapper where the select toggler div and dropdown div is placed */
.dropdownWrapper {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

/* The select dropdown toggler */
.dropdownToggle {
    width: 480px;
    padding: 0 1rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 8px grey;
}

/* Styles for select button here */
.toggleText {
    font-weight: 700;
    color: rgb(35, 34, 34);
    font-size: 1.2rem;
}

/* Styles for the icon in slect button here */
.icon {
    height: 1.2rem;
}


/* Styles for the list items container div here */
.listItems {
    margin-top: 8px;
    width: 480px;
    background-color: white;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0px 0px 8px grey;
    display: flex;
    flex-direction: column;
}


/* Styles for the list item here */
.item {
    font-weight: 500;
    color: rgb(35, 34, 34);
    padding: 1rem;
}


/* On hover of any list item */
.item:hover {
    background-color: lightgreen;
    outline: auto green;
}


/* Selected item name should shown in this div */
.selectedItemContainer{
    margin-top: 2rem;
}


/* Selected item answer paragarph styles here */
.answer{
    font-size: larger;
}

/* Responsiveness */

@media (max-width: 600px) {
    .dropdownContainer{
        width: 100%;
        height: 100%;
    }

    .heading{
        width: auto;
    }
    .dropdownToggle{
        width: 100%;
    }
    .dropdownWrapper{
        width: 80%;
    }

    .listItems{
        width: 100%;
    }
}
