/* Dropdown component module css here */
.dropdownContainer {
    height: 350px;
    width: 800px;
    padding: 2rem;
    background-color: skyblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
}

.heading {
    text-align: center;
}

.dropdownWrapper {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

.dropdownToggle {
    width: 480px;
    padding: 0 1rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 8px grey;
}

.toggleText {
    font-weight: 700;
    color: rgb(35, 34, 34);
    font-size: 1.2rem;
}

.icon {
    height: 1.2rem;
}

.listItems {
    margin-top: 8px;
    width: 480px;
    background-color: white;
    list-style: none;
    border-radius: 5px;
    box-shadow: 0px 0px 8px grey;
    display: flex;
    flex-direction: column;
    position: absolute; 
    top: 100%; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 2; 
}

.item {
    font-weight: 500;
    color: rgb(35, 34, 34);
    padding: 1rem;
}

.item:hover {
    background-color: lightgreen;
    outline: auto green;
}

.selectedItemContainer{
    margin-top: 10rem;
}

.answer{
    font-size: larger;
}
